<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>Dashboard - NiceAdmin Bootstrap Template</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link href="assets/img/favicon.png" rel="icon">
	<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.gstatic.com" rel="preconnect">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href="~/admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/admin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="~/admin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="~/admin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
	<link href="~/admin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
	<link href="~/admin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
	<link href="~/admin/assets/vendor/simple-datatables/style.css" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="~/admin/assets/css/style.css" rel="stylesheet">
</head>

<body>

	<!-- ======= Header ======= -->
	<header id="header" class="header fixed-top d-flex align-items-center">

		<div class="d-flex align-items-center justify-content-between">
			<a href="/Admin" class="logo d-flex align-items-center">
				<span class="d-none d-lg-block">Ana Okulu</span>
			</a>
			<i class="bi bi-list toggle-sidebar-btn"></i>
		</div><!-- End Logo -->


		<nav class="header-nav ms-auto">

		</nav><!-- End Icons Navigation -->

	</header><!-- End Header -->
	<!-- ======= Sidebar ======= -->
	<aside id="sidebar" class="sidebar">

		<ul class="sidebar-nav" id="sidebar-nav">

			<li class="nav-item">
				<a class="nav-link collapsed" href="/Admin/">
					<i class="bi bi-menu-button-wide"></i>
					<span>Genel</span>
				</a>
			</li><!-- End Profile Page Nav -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="/Admin/Kayitform">
					<i class="bi bi-people-fill"></i>
					<span>Kayıt Olanlar</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-menu-button-wide"></i><span>Dersler</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a href="/Admin/EgiticiDersler">
							<i class="bi bi-circle"></i><span>Dersler</span>
						</a>
					</li>
					<li>
						<a href="/Admin/EgiticiDerslerEkle">
							<i class="bi bi-circle"></i><span>Ders Ekle</span>
						</a>
					</li>

				</ul>
			</li><!-- End Components Nav -->

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-images"></i><span>Slider</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a href="/Admin/Slider">
							<i class="bi bi-circle"></i><span>Sliderlar</span>
						</a>
					</li>
					<li>
						<a href="/Admin/SliderEkle">
							<i class="bi bi-circle"></i><span>Slider Ekle</span>
						</a>
					</li>

				</ul>
			</li><!-- End Forms Nav -->

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-card-image"></i><span>Galeri</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a href="/Admin/Galeri">
							<i class="bi bi-circle"></i><span>Galeri</span>
						</a>
					</li>
					<li>
						<a href="/Admin/GaleriEkle">
							<i class="bi bi-circle"></i><span>Görsel Ekle</span>
						</a>
					</li>
				</ul>
			</li><!-- End Tables Nav -->

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-megaphone"></i><span>Duyurular</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a href="/Admin/Duyuru">
							<i class="bi bi-circle"></i><span>Mevcut Duyurular</span>
						</a>
					</li>
					<li>
						<a href="/Admin/DuyuruEkle">
							<i class="bi bi-circle"></i><span>Duyuru Yayınla</span>
						</a>
					</li>
				</ul>
			</li><!-- End Charts Nav -->
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#charts-nav-eg" data-bs-toggle="collapse" href="#">
					<i class="bi bi-person-lines-fill"></i><span>Eğitmen</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="charts-nav-eg" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a href="/Admin/Egitmen">
							<i class="bi bi-circle"></i><span>Eğitmenlerimiz</span>
						</a>
					</li>
					<li>
						<a href="/Admin/EgitmenEkle">
							<i class="bi bi-circle"></i><span>Eğitmen Ekle</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#charts-nav-hk" data-bs-toggle="collapse" href="#">
					<i class="bi bi-view-list"></i><span>Hakkımızda</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="charts-nav-hk" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a href="/Admin/Hakkimizda">
							<i class="bi bi-circle"></i><span>Hakkımızda Listesi</span>
						</a>
					</li>
					<li>
						<a href="/Admin/HakkimizdaEkle">
							<i class="bi bi-circle"></i><span>Hakkımızda Ekle</span>
						</a>
					</li>
				</ul>
			</li>
				<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#charts-nav-yt" data-bs-toggle="collapse" href="#">
					<i class="bi bi-youtube"></i><span>Youtube</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="charts-nav-yt" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a href="/Admin/YoutubeLink">
							<i class="bi bi-circle"></i><span>Mevcut Linkler</span>
						</a>
					</li>
					<li>
						<a href="/Admin/YoutubeLinkEkle">
							<i class="bi bi-circle"></i><span>Youtube Link Ekle</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="nav-heading">Ayarlar</li>
			<li class="nav-item">
				<a class="nav-link collapsed" href="/Admin/SiteHaritasi">
					<i class="bi bi-emoji-wink"></i>
					<span>Site Yardım</span>
				</a>
			</li><!-- End Profile Page Nav -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="/Anasayfa/Index">
					<i class="bi bi-window-fullscreen"></i>
					<span>Siteyi Görüntüle</span>
				</a>
			</li><!-- End Profile Page Nav -->

			<li class="nav-item">
				<form asp-controller="Admin" asp-action="Logout">
					<button class="nav-link collapsed">Çıkış</button>
				</form>
			</li><!-- End Blank Page Nav -->

		</ul>

	</aside><!-- End Sidebar-->

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Admin Panel</h1>
			<nav>
				<ol class="breadcrumb">
				</ol>
			</nav>
		</div><!-- End Page Title -->
		@RenderBody()

	</main><!-- End #main -->
	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>Ana Okulu</span></strong>. Tüm hakları Saklıdır.
		</div>
		<div class="credits">
			Designed by <a href="https://bilsoft.com/">Bilsoft Yazılım</a>
		</div>
	</footer><!-- End Footer -->

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script src="~/admin/assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="~/admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/admin/assets/vendor/chart.js/chart.umd.js"></script>
	<script src="~/admin/assets/vendor/echarts/echarts.min.js"></script>
	<script src="~/admin/assets/vendor/quill/quill.min.js"></script>
	<script src="~/admin/assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="~/admin/assets/vendor/tinymce/tinymce.min.js"></script>
	<script src="~/admin/assets/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="~/admin/assets/js/main.js"></script>

</body>

</html>