@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

 <main>
    <div class="container">
        <br />
  <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
    <h1>404</h1>
    <h2>Aradığınız sayfa mevcut değil.</h2>
    <br />
        <a class="btn" href="/Anasayfa">Ana Sayfaya Dön</a>
        <img src="~/admin/assets/img/not-found.svg" class="img-fluid py-5" alt="Page Not Found">
        <div class="credits">
        </div>
      </section>

    </div>
  </main><!-- End #main -->