@model EntityLayer.Concrete.Ders

@{
    ViewData["Title"] = "DuyuruEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Duyuru Ekle</h5>

        <!-- Vertical Form -->
        <form asp-controller="Admin" asp-action="DuyuruEkle" method="post" enctype="multipart/form-data" class="row g-3">
            <div class="col-12">
                <label for="DuyuruBaslik" class="form-label">Duyuru Başlık</label>
                <input name="DuyuruBaslik" type="text" class="form-control" id="DuyuruBaslik" required>
            </div>
            <div class="col-12">
                <label for="DuyuruMekan" class="form-label">Duyuru Mekan</label>
                <input name="DuyuruMekan" type="text" class="form-control" id="DuyuruMekan" required>
            </div>
            <div class="col-12">
                <label for="DuyuruTarih" class="form-label">Duyuru Tarih</label>
                <input name="DuyuruTarih" type="datetime-local" class="form-control" id="DuyuruTarih"required>
            </div>         
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form><!-- Vertical Form -->

    </div>
</div>


